@page
@model Time_Trucker.Pages.Admin.Reports.UpsertModel


<form method="post" enctype="multipart/form-data">
	<input asp-for="Report.Id" hidden />
	<div class="border p-3 mt-4">
		<div class="row pb-2">
			<div class="col-9">
				<h2 class="text-primary pl-3">
					@(Model.Report.Id!=0 ? "Update" : "Create") Report
				</h2>
				<hr />
				<div class="mb-3">
					<label asp-for="Report.StartingDate"></label>
					<input asp-for="Report.StartingDate" class="form-control" />
					<span asp-validation-for="Report.StartingDate" class="text-danger"></span>
				</div>
				<div class="mb-3">
					<label asp-for="Report.EndingDate"></label>
					<input asp-for="Report.EndingDate" class="form-control" />
					<span asp-validation-for="Report.EndingDate" class="text-danger"></span>
				</div>
				<div class="mb-3">
					<label asp-for="Report.ProjectId"></label>
					<select asp-for="Report.ProjectId" asp-items="Model.ProjectList" class="form-select">
						<option disabled selected>-Select Project-</option>
					</select>

					<span asp-validation-for="Report.ProjectId" class="text-danger"></span>
				</div>

				<div class="mb-3">
					<label asp-for="Report.CustomerId"></label>
					<select asp-for="Report.CustomerId" asp-items="Model.CustomerList" class="form-select">
						<option disabled selected>-Select Customer-</option>
					</select>

					<span asp-validation-for="Report.CustomerId" class="text-danger"></span>
				</div>
				<div class="mb-3">
					<label asp-for="Report.Description"></label>
					<textarea asp-for="Report.Description" class="form-control"></textarea>
					<span asp-validation-for="Report.Description" class="text-danger"></span>
				</div>
			</div>
		</div>
		</div>
		@if (Model.Report.Id != 0)
		{
			<button type="submit" class="btn btn-primary" style="width:150px;">Update</button>
		}
		else
		{
			<button type="submit" onclick="return ValidateInput()" class="btn btn-primary" style="width:150px;">Create</button>
		}

		<a asp-page="Index" class="btn btn-secondary" style="width:150px;"> Back to List</a>

	</div>

</form>


@section Scripts{
<script>
	 tinymce.init({
	   selector: 'textarea',
	   plugins: 'advlist autolink lists link image charmap print preview hr anchor pagebreak',
	   toolbar_mode: 'floating',
	});

	
	}
</script>
	@{
	<partial name="_ValidationScriptsPartial" />
	}
}

