@page
@model Time_Trucker.Pages.MasterPage.UI.IndexModel


<div class="container p-3">
	<div class="row pt-4">
		<div class="col-12">
			<h2 class="text-primary">Time Report List</h2>
		</div>
	</div>

	<br /><br />

	<table id="DT_load" class="table table-bordered table-striped" style="width:100%">
		<thead>
			<tr>
				<th>Starting Date</th>
                <th>Ending Date</th>
                <th>Project</th>
                <th>Customer</th>
				<th>Description</th>
				<th></th>
			</tr>
		</thead>
	</table>

</div>

 @section Scripts{
	<script src="~/js/Report.js"></script>
}
